#mainNav.navbar {
  @include navbar-bg;
  .navbar-collapse {
    .navbar-sidenav {
      .nav-link-collapse:after {
        color: $gray-600;
      }
      >.nav-item {
        >.nav-link {
          color: #515253;
          &:hover {
            color: #85899B;
            box-shadow: inset 5px 0 0 #37BDE7;
            background-color: #f2f2f2;
          }
        }
      }
    }
    .navbar-nav>.nav-item.dropdown>.nav-link:after {
      color: $gray-500;
    }
  }
  @media (min-width: 992px) {
    .navbar-collapse {
      .navbar-sidenav {
        @include right-border-nav;
        li {
          &.active {
            box-sizing: border-box;
            border-left: 5px solid #37BDE7;
            a {
              color: rgb(122, 124, 136) !important;
              background-color: #f2f2f2;
            }
          }
        }
      }
    }
  }
}