@keyframes menu-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.topbar-container {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .topbar-menu-on-mobile {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;

    @media (max-width: $desktop) {
      visibility: visible;
      opacity: 1;
      transition: opacity 200ms linear;
    }

    @media (min-width: $desktop) {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 200ms, opacity 200ms linear;
    }

    .fa-bars {
      color: #000000;
    }
  }
}
