.topbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $primary-color;
  z-index: 999;
  display: flex;
  transition: height 500ms;

  @include device-lg-up {
    height: 100px;
  }

  @include device-lg-down {
    height: 80px;
  }

  @include device-lg-up {
    .topbar-menu {
      width: $screen-menu-large;
      height: 100%;

      .topbar-navi-menu {
        display: none;
      }
    }
  }

  @include device-lg-down {
    .topbar-menu {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;  

      .topbar-navi-menu {
        margin-left: 15px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        overflow: hidden;

        .fa-bars {
          color: $secondary-color;
          position: relative;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  }
}
