/* Style for Select.elm */


@mixin select-box($box-height, $box-font-size) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: $box-height;
    flex-direction: row;
    
    select {
        background-color: $color-input;
        padding: 10px;
        width: 100%;
        height: $box-height;
        font-size: $box-font-size;
        color: $color-text;
        border: none;
        appearance: button;
        outline: none;
    }

    .dropper {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-text;
        background-color: #6a9bc3;
        width: 60px;
        height: $box-height;
        position: absolute;
        right: 0;

        i {
            transform: rotate(90deg);
            transition: transform 1s;
        }

        .rotate-interaction {
            transition: transform 1s;
            transform: rotate(0deg);
        }


    }

}

.select-box-small {
  @include select-box(50px, 0.6rem);  
}

.select-box-medium {
    @include select-box(60px, 0.7rem);  
}

.select-box-large {
    @include select-box(70px, 0.8rem);  
}
  



