$menu-btn: 60px;

.portfolio-container {
	width: 100%;
	height: 100%;

	.menu-btn {
		@media (min-width: $desktop) {
			display: none;
		}

		@media (max-width: $tablet) and (max-width: $desktop) {
			display: flex;
		}

		justify-content: center;
		align-items: center;
		height: $menu-btn;
		width: $menu-btn;
		border-radius: 50%;
		position: fixed;
		bottom: 20px;
		right: 10px;
		background-color: #24344b;
		transition: background-color 0.2s;
		transition-timing-function: linear;

		.fa-align-justify {
			color: #ffffff;
		}

		.fa-times {
			color: #24344b;
		}
	}

	.menu-btn-active {
		background-color: #ffffff;
	}
}
