$menu-btn: 60px;

.portfolio-container {
	width: 100%;
	height: 100%;

	.show-menu-btn {
		@media (min-width: $desktop) {
			display: none;
		}

		@media (max-width: $tablet) and (max-width: $desktop) {
			display: flex;
		}
		justify-content: center;
		align-items: center;
		height: $menu-btn;
		width: $menu-btn;
		border-radius: 50%;
		background-color: #24344b;
		position: fixed;
		bottom: 20px;
		right: 10px;

		.fa-align-justify {
			color: white;
		}
	}
}
