$navi-gap-active: 3px transparent solid;

@mixin navi-container {
  width: 100%;
  background-color: $primary-color;
  z-index: 998;
  display: flex;
}

@include device-lg-up {
  .navi-container {
    @include navi-container;
    height: 50px;
    position: fixed;
    top: 100px;
    justify-content: center;
    transition: top 400ms, width 400ms;

    .navi-menu {
      width: $screen-menu-large;
      height: 100%;
      display: inline-flex;
      align-items: center;

      a:first-child {
        margin-left: 0px; 
      }

      a {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        padding: 10px 5px;
        position: relative;
        z-index: 0;
        cursor: pointer;
        margin-left: 10px;
        display: flex;
        justify-content:center;

        .navi-link-bulk {
          position: absolute;
          width: 100%;
          height: 2px;
          content: "";
          background: #fff;
          opacity: 1;
          transition: all 200ms;
          top: 0px;
          z-index: 0;
        }

        .navi-menu-active {
          height: 100%;
          opacity: 0.4;
          z-index: -1;
        }
      }
    }
  }
}

@include device-lg-down {
  .navi-container {
    @include navi-container;
    position: relative;
    top: -100%;
    transition: top 500ms, height 300ms 500ms;
    height: 100%;

    .navi-menu {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      position: relative;
      visibility: hidden;

      a.navi-link {
        padding: 10px;
        padding-left: 20px;
        font-size: 1em;
        font-weight: 600;
        border-left: $navi-gap-active;
      }

      a.navi-link-active {
        border-left: 3px $primary-color solid;
      }
    }
  }

  .navi-show-on-mobile {
    height: 100%;
    top: 0px;
  }
}
