@import "./fontawesome/all.scss";
@import "bulma/bulma.sass";
@import "./App/scss/styles.scss";

* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

#root {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
