@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url(~@fortawesome/fontawesome-free/css/all.css);
/* Style for Select.elm */
.select-box-small {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  flex-direction: row; }
  .select-box-small select {
    background-color: #4682B4;
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 0.6rem;
    color: #FFFFFF;
    border: none;
    appearance: button;
    outline: none; }
  .select-box-small .dropper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #6a9bc3;
    width: 60px;
    height: 50px;
    position: absolute;
    right: 0; }
    .select-box-small .dropper i {
      transform: rotate(90deg);
      transition: transform 1s; }
    .select-box-small .dropper .rotate-interaction {
      transition: transform 1s;
      transform: rotate(0deg); }

.select-box-medium {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  flex-direction: row; }
  .select-box-medium select {
    background-color: #4682B4;
    padding: 10px;
    width: 100%;
    height: 60px;
    font-size: 0.7rem;
    color: #FFFFFF;
    border: none;
    appearance: button;
    outline: none; }
  .select-box-medium .dropper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #6a9bc3;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0; }
    .select-box-medium .dropper i {
      transform: rotate(90deg);
      transition: transform 1s; }
    .select-box-medium .dropper .rotate-interaction {
      transition: transform 1s;
      transform: rotate(0deg); }

.select-box-large {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  flex-direction: row; }
  .select-box-large select {
    background-color: #4682B4;
    padding: 10px;
    width: 100%;
    height: 70px;
    font-size: 0.8rem;
    color: #FFFFFF;
    border: none;
    appearance: button;
    outline: none; }
  .select-box-large .dropper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #6a9bc3;
    width: 60px;
    height: 70px;
    position: absolute;
    right: 0; }
    .select-box-large .dropper i {
      transform: rotate(90deg);
      transition: transform 1s; }
    .select-box-large .dropper .rotate-interaction {
      transition: transform 1s;
      transform: rotate(0deg); }

/* Selects the root element of the document:
   <html> in the case of HTML */
:root {
  font-size: calc(1vw + 1vh + 0.5vmin); }

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFB627; }
