@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url(~@fortawesome/fontawesome-free/css/all.css);
/* Selects the root element of the document:
   <html> in the case of HTML */
:root {
  font-size: calc(1vw + 1vh + 0.5vmin); }

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF; }
