.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #24344b;
  position: relative;
  transition: width 0.4s;

  @media (min-width: $desktop) {
    width: 400px;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: 0px;
  }


  @media (max-width: $desktop) {
    width: 0px;
  }
}