.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #24344b;
  transition: width 0.3s;
  width: 0px;
  position: relative;

  /* @media (min-width: $desktop) and (max-width: $widescreen) {
    width: 300px;
  } */

  @media (min-width: $desktop){
    width: 300px;
  }


  @media (max-width: $desktop) {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

.sidebar-menu-on-mobile {
  z-index: 100;
}
